basket_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="basket">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metadata" type="MetadataType"/>
        <xs:element name="orders" type="OrdersType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="MetadataType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="timestamp" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="spotValue" type="xs:decimal"/>
      <xs:element name="reference" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="OrdersType">
    <xs:sequence>
      <xs:element name="order" type="OrderType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="OrderType">
    <xs:sequence>
      <xs:element name="action" type="xs:string"/>
      <xs:element name="strike" type="xs:decimal"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="quantity" type="xs:int"/>
      <xs:element name="price" type="xs:decimal"/>
      <xs:element name="index" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>